<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.baas.prd.dao.mapper.interfaces.CpPricemakingMappingMapper" >
  <resultMap id="BaseResultMap" type="com.ai.baas.prd.dao.mapper.bo.CpPricemakingMapping" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="MAPPING_BEFORE" property="mappingBefore" jdbcType="VARCHAR" />
    <result column="MAPPING_AFTER" property="mappingAfter" jdbcType="VARCHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="CHAR" />
    <result column="COMMENT" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TENANT_ID, MAPPING_BEFORE, MAPPING_AFTER, IS_VALID, COMMENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.baas.prd.dao.mapper.bo.CpPricemakingMappingCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from cp_pricemaking_mapping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from cp_pricemaking_mapping
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from cp_pricemaking_mapping
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.baas.prd.dao.mapper.bo.CpPricemakingMappingCriteria" >
    delete from cp_pricemaking_mapping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.baas.prd.dao.mapper.bo.CpPricemakingMapping" >
    insert into cp_pricemaking_mapping (ID, TENANT_ID, MAPPING_BEFORE, 
      MAPPING_AFTER, IS_VALID, COMMENT
      )
    values (#{id,jdbcType=BIGINT}, #{tenantId,jdbcType=VARCHAR}, #{mappingBefore,jdbcType=VARCHAR}, 
      #{mappingAfter,jdbcType=VARCHAR}, #{isValid,jdbcType=CHAR}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.baas.prd.dao.mapper.bo.CpPricemakingMapping" >
    insert into cp_pricemaking_mapping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="mappingBefore != null" >
        MAPPING_BEFORE,
      </if>
      <if test="mappingAfter != null" >
        MAPPING_AFTER,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
      <if test="comment != null" >
        COMMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="mappingBefore != null" >
        #{mappingBefore,jdbcType=VARCHAR},
      </if>
      <if test="mappingAfter != null" >
        #{mappingAfter,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.baas.prd.dao.mapper.bo.CpPricemakingMappingCriteria" resultType="java.lang.Integer" >
    select count(*) from cp_pricemaking_mapping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cp_pricemaking_mapping
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.mappingBefore != null" >
        MAPPING_BEFORE = #{record.mappingBefore,jdbcType=VARCHAR},
      </if>
      <if test="record.mappingAfter != null" >
        MAPPING_AFTER = #{record.mappingAfter,jdbcType=VARCHAR},
      </if>
      <if test="record.isValid != null" >
        IS_VALID = #{record.isValid,jdbcType=CHAR},
      </if>
      <if test="record.comment != null" >
        COMMENT = #{record.comment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cp_pricemaking_mapping
    set ID = #{record.id,jdbcType=BIGINT},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      MAPPING_BEFORE = #{record.mappingBefore,jdbcType=VARCHAR},
      MAPPING_AFTER = #{record.mappingAfter,jdbcType=VARCHAR},
      IS_VALID = #{record.isValid,jdbcType=CHAR},
      COMMENT = #{record.comment,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.baas.prd.dao.mapper.bo.CpPricemakingMapping" >
    update cp_pricemaking_mapping
    <set >
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="mappingBefore != null" >
        MAPPING_BEFORE = #{mappingBefore,jdbcType=VARCHAR},
      </if>
      <if test="mappingAfter != null" >
        MAPPING_AFTER = #{mappingAfter,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid,jdbcType=CHAR},
      </if>
      <if test="comment != null" >
        COMMENT = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.baas.prd.dao.mapper.bo.CpPricemakingMapping" >
    update cp_pricemaking_mapping
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      MAPPING_BEFORE = #{mappingBefore,jdbcType=VARCHAR},
      MAPPING_AFTER = #{mappingAfter,jdbcType=VARCHAR},
      IS_VALID = #{isValid,jdbcType=CHAR},
      COMMENT = #{comment,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>