<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.baas.amc.dao.mapper.interfaces.AmcFundSerialMapper" >
  <resultMap id="BaseResultMap" type="com.ai.baas.amc.dao.mapper.bo.AmcFundSerial" >
    <id column="pay_serial_code" property="paySerialCode" jdbcType="VARCHAR" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="system_id" property="systemId" jdbcType="VARCHAR" />
    <result column="peer_serial_code" property="peerSerialCode" jdbcType="VARCHAR" />
    <result column="cancel_serial_code" property="cancelSerialCode" jdbcType="VARCHAR" />
    <result column="opt_type" property="optType" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="BIGINT" />
    <result column="trans_summary" property="transSummary" jdbcType="VARCHAR" />
    <result column="pay_rule_id" property="payRuleId" jdbcType="BIGINT" />
    <result column="pay_status" property="payStatus" jdbcType="VARCHAR" />
    <result column="cust_id1" property="custId1" jdbcType="VARCHAR" />
    <result column="acct_id1" property="acctId1" jdbcType="VARCHAR" />
    <result column="acct_name1" property="acctName1" jdbcType="VARCHAR" />
    <result column="cust_id2" property="custId2" jdbcType="VARCHAR" />
    <result column="acct_id2" property="acctId2" jdbcType="VARCHAR" />
    <result column="acct_name2" property="acctName2" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="last_status_date" property="lastStatusDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="CUST_NAME" property="custName" jdbcType="VARCHAR" />
    <result column="CUST_GRADE" property="custGrade" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pay_serial_code, tenant_id, system_id, peer_serial_code, cancel_serial_code, opt_type, 
    total_amount, trans_summary, pay_rule_id, pay_status, cust_id1, acct_id1, acct_name1, 
    cust_id2, acct_id2, acct_name2, create_time, pay_time, last_status_date, remark, 
    CUST_NAME, CUST_GRADE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.baas.amc.dao.mapper.bo.AmcFundSerialCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from amc_fund_serial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.baas.amc.dao.mapper.bo.AmcFundSerialCriteria" >
    delete from amc_fund_serial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="map" >
    insert into amc_fund_serial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.paySerialCode != null" >
        pay_serial_code,
      </if>
      <if test="record.tenantId != null" >
        tenant_id,
      </if>
      <if test="record.systemId != null" >
        system_id,
      </if>
      <if test="record.peerSerialCode != null" >
        peer_serial_code,
      </if>
      <if test="record.cancelSerialCode != null" >
        cancel_serial_code,
      </if>
      <if test="record.optType != null" >
        opt_type,
      </if>
      <if test="record.totalAmount != null" >
        total_amount,
      </if>
      <if test="record.transSummary != null" >
        trans_summary,
      </if>
      <if test="record.payRuleId != null" >
        pay_rule_id,
      </if>
      <if test="record.payStatus != null" >
        pay_status,
      </if>
      <if test="record.custId1 != null" >
        cust_id1,
      </if>
      <if test="record.acctId1 != null" >
        acct_id1,
      </if>
      <if test="record.acctName1 != null" >
        acct_name1,
      </if>
      <if test="record.custId2 != null" >
        cust_id2,
      </if>
      <if test="record.acctId2 != null" >
        acct_id2,
      </if>
      <if test="record.acctName2 != null" >
        acct_name2,
      </if>
      <if test="record.createTime != null" >
        create_time,
      </if>
      <if test="record.payTime != null" >
        pay_time,
      </if>
      <if test="record.lastStatusDate != null" >
        last_status_date,
      </if>
      <if test="record.remark != null" >
        remark,
      </if>
      <if test="record.custName != null" >
        CUST_NAME,
      </if>
      <if test="record.custGrade != null" >
        CUST_GRADE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.paySerialCode != null" >
        #{record.paySerialCode,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null" >
        #{record.systemId,jdbcType=VARCHAR},
      </if>
      <if test="record.peerSerialCode != null" >
        #{record.peerSerialCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelSerialCode != null" >
        #{record.cancelSerialCode,jdbcType=VARCHAR},
      </if>
      <if test="record.optType != null" >
        #{record.optType,jdbcType=VARCHAR},
      </if>
      <if test="record.totalAmount != null" >
        #{record.totalAmount,jdbcType=BIGINT},
      </if>
      <if test="record.transSummary != null" >
        #{record.transSummary,jdbcType=VARCHAR},
      </if>
      <if test="record.payRuleId != null" >
        #{record.payRuleId,jdbcType=BIGINT},
      </if>
      <if test="record.payStatus != null" >
        #{record.payStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.custId1 != null" >
        #{record.custId1,jdbcType=VARCHAR},
      </if>
      <if test="record.acctId1 != null" >
        #{record.acctId1,jdbcType=VARCHAR},
      </if>
      <if test="record.acctName1 != null" >
        #{record.acctName1,jdbcType=VARCHAR},
      </if>
      <if test="record.custId2 != null" >
        #{record.custId2,jdbcType=VARCHAR},
      </if>
      <if test="record.acctId2 != null" >
        #{record.acctId2,jdbcType=VARCHAR},
      </if>
      <if test="record.acctName2 != null" >
        #{record.acctName2,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payTime != null" >
        #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastStatusDate != null" >
        #{record.lastStatusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.custName != null" >
        #{record.custName,jdbcType=VARCHAR},
      </if>
      <if test="record.custGrade != null" >
        #{record.custGrade,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.baas.amc.dao.mapper.bo.AmcFundSerialCriteria" resultType="java.lang.Integer" >
    select count(*) from amc_fund_serial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update amc_fund_serial
    <set >
      <if test="record.paySerialCode != null" >
        pay_serial_code = #{record.paySerialCode,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null" >
        system_id = #{record.systemId,jdbcType=VARCHAR},
      </if>
      <if test="record.peerSerialCode != null" >
        peer_serial_code = #{record.peerSerialCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelSerialCode != null" >
        cancel_serial_code = #{record.cancelSerialCode,jdbcType=VARCHAR},
      </if>
      <if test="record.optType != null" >
        opt_type = #{record.optType,jdbcType=VARCHAR},
      </if>
      <if test="record.totalAmount != null" >
        total_amount = #{record.totalAmount,jdbcType=BIGINT},
      </if>
      <if test="record.transSummary != null" >
        trans_summary = #{record.transSummary,jdbcType=VARCHAR},
      </if>
      <if test="record.payRuleId != null" >
        pay_rule_id = #{record.payRuleId,jdbcType=BIGINT},
      </if>
      <if test="record.payStatus != null" >
        pay_status = #{record.payStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.custId1 != null" >
        cust_id1 = #{record.custId1,jdbcType=VARCHAR},
      </if>
      <if test="record.acctId1 != null" >
        acct_id1 = #{record.acctId1,jdbcType=VARCHAR},
      </if>
      <if test="record.acctName1 != null" >
        acct_name1 = #{record.acctName1,jdbcType=VARCHAR},
      </if>
      <if test="record.custId2 != null" >
        cust_id2 = #{record.custId2,jdbcType=VARCHAR},
      </if>
      <if test="record.acctId2 != null" >
        acct_id2 = #{record.acctId2,jdbcType=VARCHAR},
      </if>
      <if test="record.acctName2 != null" >
        acct_name2 = #{record.acctName2,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastStatusDate != null" >
        last_status_date = #{record.lastStatusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.custName != null" >
        CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      </if>
      <if test="record.custGrade != null" >
        CUST_GRADE = #{record.custGrade,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update amc_fund_serial
    set pay_serial_code = #{record.paySerialCode,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      system_id = #{record.systemId,jdbcType=VARCHAR},
      peer_serial_code = #{record.peerSerialCode,jdbcType=VARCHAR},
      cancel_serial_code = #{record.cancelSerialCode,jdbcType=VARCHAR},
      opt_type = #{record.optType,jdbcType=VARCHAR},
      total_amount = #{record.totalAmount,jdbcType=BIGINT},
      trans_summary = #{record.transSummary,jdbcType=VARCHAR},
      pay_rule_id = #{record.payRuleId,jdbcType=BIGINT},
      pay_status = #{record.payStatus,jdbcType=VARCHAR},
      cust_id1 = #{record.custId1,jdbcType=VARCHAR},
      acct_id1 = #{record.acctId1,jdbcType=VARCHAR},
      acct_name1 = #{record.acctName1,jdbcType=VARCHAR},
      cust_id2 = #{record.custId2,jdbcType=VARCHAR},
      acct_id2 = #{record.acctId2,jdbcType=VARCHAR},
      acct_name2 = #{record.acctName2,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      last_status_date = #{record.lastStatusDate,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      CUST_GRADE = #{record.custGrade,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>