<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.baas.ccp.dao.mapper.interfaces.OmcBmsInterfaceMapper" >
  <resultMap id="BaseResultMap" type="com.ai.baas.ccp.dao.mapper.bo.OmcBmsInterface" >
    <result column="serial_no" property="serialNo" jdbcType="BIGINT" />
    <result column="acct_id" property="acctId" jdbcType="VARCHAR" />
    <result column="subs_id" property="subsId" jdbcType="VARCHAR" />
    <result column="scout_type" property="scoutType" jdbcType="VARCHAR" />
    <result column="bms_data" property="bmsData" jdbcType="VARCHAR" />
    <result column="interface_data" property="interfaceData" jdbcType="VARCHAR" />
    <result column="service_type" property="serviceType" jdbcType="INTEGER" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="deal_flag" property="dealFlag" jdbcType="INTEGER" />
    <result column="deal_time" property="dealTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="retry_times" property="retryTimes" jdbcType="INTEGER" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="system_id" property="systemId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serial_no, acct_id, subs_id, scout_type, bms_data, interface_data, service_type, 
    priority, channel, insert_time, deal_flag, deal_time, remark, retry_times, tenant_id, 
    system_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcBmsInterfaceCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from omc_bms_interface
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcBmsInterfaceCriteria" >
    delete from omc_bms_interface
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcBmsInterface" >
    insert into omc_bms_interface (serial_no, acct_id, subs_id, 
      scout_type, bms_data, interface_data, 
      service_type, priority, channel, 
      insert_time, deal_flag, deal_time, 
      remark, retry_times, tenant_id, 
      system_id)
    values (#{serialNo,jdbcType=BIGINT}, #{acctId,jdbcType=VARCHAR}, #{subsId,jdbcType=VARCHAR}, 
      #{scoutType,jdbcType=VARCHAR}, #{bmsData,jdbcType=VARCHAR}, #{interfaceData,jdbcType=VARCHAR}, 
      #{serviceType,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, #{channel,jdbcType=INTEGER}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{dealFlag,jdbcType=INTEGER}, #{dealTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{retryTimes,jdbcType=INTEGER}, #{tenantId,jdbcType=VARCHAR}, 
      #{systemId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcBmsInterface" >
    insert into omc_bms_interface
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        serial_no,
      </if>
      <if test="acctId != null" >
        acct_id,
      </if>
      <if test="subsId != null" >
        subs_id,
      </if>
      <if test="scoutType != null" >
        scout_type,
      </if>
      <if test="bmsData != null" >
        bms_data,
      </if>
      <if test="interfaceData != null" >
        interface_data,
      </if>
      <if test="serviceType != null" >
        service_type,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="dealFlag != null" >
        deal_flag,
      </if>
      <if test="dealTime != null" >
        deal_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="retryTimes != null" >
        retry_times,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="systemId != null" >
        system_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        #{serialNo,jdbcType=BIGINT},
      </if>
      <if test="acctId != null" >
        #{acctId,jdbcType=VARCHAR},
      </if>
      <if test="subsId != null" >
        #{subsId,jdbcType=VARCHAR},
      </if>
      <if test="scoutType != null" >
        #{scoutType,jdbcType=VARCHAR},
      </if>
      <if test="bmsData != null" >
        #{bmsData,jdbcType=VARCHAR},
      </if>
      <if test="interfaceData != null" >
        #{interfaceData,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=INTEGER},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealFlag != null" >
        #{dealFlag,jdbcType=INTEGER},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="retryTimes != null" >
        #{retryTimes,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null" >
        #{systemId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcBmsInterfaceCriteria" resultType="java.lang.Integer" >
    select count(*) from omc_bms_interface
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update omc_bms_interface
    <set >
      <if test="record.serialNo != null" >
        serial_no = #{record.serialNo,jdbcType=BIGINT},
      </if>
      <if test="record.acctId != null" >
        acct_id = #{record.acctId,jdbcType=VARCHAR},
      </if>
      <if test="record.subsId != null" >
        subs_id = #{record.subsId,jdbcType=VARCHAR},
      </if>
      <if test="record.scoutType != null" >
        scout_type = #{record.scoutType,jdbcType=VARCHAR},
      </if>
      <if test="record.bmsData != null" >
        bms_data = #{record.bmsData,jdbcType=VARCHAR},
      </if>
      <if test="record.interfaceData != null" >
        interface_data = #{record.interfaceData,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceType != null" >
        service_type = #{record.serviceType,jdbcType=INTEGER},
      </if>
      <if test="record.priority != null" >
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.channel != null" >
        channel = #{record.channel,jdbcType=INTEGER},
      </if>
      <if test="record.insertTime != null" >
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dealFlag != null" >
        deal_flag = #{record.dealFlag,jdbcType=INTEGER},
      </if>
      <if test="record.dealTime != null" >
        deal_time = #{record.dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.retryTimes != null" >
        retry_times = #{record.retryTimes,jdbcType=INTEGER},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null" >
        system_id = #{record.systemId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update omc_bms_interface
    set serial_no = #{record.serialNo,jdbcType=BIGINT},
      acct_id = #{record.acctId,jdbcType=VARCHAR},
      subs_id = #{record.subsId,jdbcType=VARCHAR},
      scout_type = #{record.scoutType,jdbcType=VARCHAR},
      bms_data = #{record.bmsData,jdbcType=VARCHAR},
      interface_data = #{record.interfaceData,jdbcType=VARCHAR},
      service_type = #{record.serviceType,jdbcType=INTEGER},
      priority = #{record.priority,jdbcType=INTEGER},
      channel = #{record.channel,jdbcType=INTEGER},
      insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      deal_flag = #{record.dealFlag,jdbcType=INTEGER},
      deal_time = #{record.dealTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      retry_times = #{record.retryTimes,jdbcType=INTEGER},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      system_id = #{record.systemId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>