<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.baas.ccp.dao.mapper.interfaces.OmcScoutPolicyMapper" >
  <resultMap id="BaseResultMap" type="com.ai.baas.ccp.dao.mapper.bo.OmcScoutPolicy" >
    <result column="policyId" property="policyid" jdbcType="VARCHAR" />
    <result column="policy_name" property="policyName" jdbcType="VARCHAR" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="system_id" property="systemId" jdbcType="VARCHAR" />
    <result column="policyDescribe" property="policydescribe" jdbcType="VARCHAR" />
    <result column="policyType" property="policytype" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="eff_date" property="effDate" jdbcType="TIMESTAMP" />
    <result column="exp_date" property="expDate" jdbcType="TIMESTAMP" />
    <result column="ruleID" property="ruleid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    policyId, policy_name, tenant_id, system_id, policyDescribe, policyType, status, 
    eff_date, exp_date, ruleID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcScoutPolicyCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from omc_scout_policy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcScoutPolicyCriteria" >
    delete from omc_scout_policy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcScoutPolicy" >
    insert into omc_scout_policy (policyId, policy_name, tenant_id, 
      system_id, policyDescribe, policyType, 
      status, eff_date, exp_date, 
      ruleID)
    values (#{policyid,jdbcType=VARCHAR}, #{policyName,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, 
      #{systemId,jdbcType=VARCHAR}, #{policydescribe,jdbcType=VARCHAR}, #{policytype,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{effDate,jdbcType=TIMESTAMP}, #{expDate,jdbcType=TIMESTAMP}, 
      #{ruleid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcScoutPolicy" >
    insert into omc_scout_policy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="policyid != null" >
        policyId,
      </if>
      <if test="policyName != null" >
        policy_name,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="systemId != null" >
        system_id,
      </if>
      <if test="policydescribe != null" >
        policyDescribe,
      </if>
      <if test="policytype != null" >
        policyType,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="effDate != null" >
        eff_date,
      </if>
      <if test="expDate != null" >
        exp_date,
      </if>
      <if test="ruleid != null" >
        ruleID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="policyid != null" >
        #{policyid,jdbcType=VARCHAR},
      </if>
      <if test="policyName != null" >
        #{policyName,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null" >
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="policydescribe != null" >
        #{policydescribe,jdbcType=VARCHAR},
      </if>
      <if test="policytype != null" >
        #{policytype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null" >
        #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ruleid != null" >
        #{ruleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcScoutPolicyCriteria" resultType="java.lang.Integer" >
    select count(*) from omc_scout_policy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update omc_scout_policy
    <set >
      <if test="record.policyid != null" >
        policyId = #{record.policyid,jdbcType=VARCHAR},
      </if>
      <if test="record.policyName != null" >
        policy_name = #{record.policyName,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null" >
        system_id = #{record.systemId,jdbcType=VARCHAR},
      </if>
      <if test="record.policydescribe != null" >
        policyDescribe = #{record.policydescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.policytype != null" >
        policyType = #{record.policytype,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.effDate != null" >
        eff_date = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null" >
        exp_date = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ruleid != null" >
        ruleID = #{record.ruleid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update omc_scout_policy
    set policyId = #{record.policyid,jdbcType=VARCHAR},
      policy_name = #{record.policyName,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      system_id = #{record.systemId,jdbcType=VARCHAR},
      policyDescribe = #{record.policydescribe,jdbcType=VARCHAR},
      policyType = #{record.policytype,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      eff_date = #{record.effDate,jdbcType=TIMESTAMP},
      exp_date = #{record.expDate,jdbcType=TIMESTAMP},
      ruleID = #{record.ruleid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>