<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.baas.ccp.dao.mapper.interfaces.OmcUrgeStatusMapper" >
  <resultMap id="BaseResultMap" type="com.ai.baas.ccp.dao.mapper.bo.OmcUrgeStatus" >
    <result column="urge_serial" property="urgeSerial" jdbcType="BIGINT" />
    <result column="owner_type" property="ownerType" jdbcType="VARCHAR" />
    <result column="owner_id" property="ownerId" jdbcType="VARCHAR" />
    <result column="urge_type" property="urgeType" jdbcType="VARCHAR" />
    <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="last_status" property="lastStatus" jdbcType="VARCHAR" />
    <result column="status_time" property="statusTime" jdbcType="TIMESTAMP" />
    <result column="notify_time" property="notifyTime" jdbcType="TIMESTAMP" />
    <result column="notify_times" property="notifyTimes" jdbcType="INTEGER" />
    <result column="notify_status" property="notifyStatus" jdbcType="VARCHAR" />
    <result column="notify_type" property="notifyType" jdbcType="VARCHAR" />
    <result column="scout_info" property="scoutInfo" jdbcType="VARCHAR" />
    <result column="system_id" property="systemId" jdbcType="VARCHAR" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    urge_serial, owner_type, owner_id, urge_type, business_code, status, last_status, 
    status_time, notify_time, notify_times, notify_status, notify_type, scout_info, system_id, 
    tenant_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcUrgeStatusCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from omc_urge_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcUrgeStatusCriteria" >
    delete from omc_urge_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcUrgeStatus" >
    insert into omc_urge_status (urge_serial, owner_type, owner_id, 
      urge_type, business_code, status, 
      last_status, status_time, notify_time, 
      notify_times, notify_status, notify_type, 
      scout_info, system_id, tenant_id
      )
    values (#{urgeSerial,jdbcType=BIGINT}, #{ownerType,jdbcType=VARCHAR}, #{ownerId,jdbcType=VARCHAR}, 
      #{urgeType,jdbcType=VARCHAR}, #{businessCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{lastStatus,jdbcType=VARCHAR}, #{statusTime,jdbcType=TIMESTAMP}, #{notifyTime,jdbcType=TIMESTAMP}, 
      #{notifyTimes,jdbcType=INTEGER}, #{notifyStatus,jdbcType=VARCHAR}, #{notifyType,jdbcType=VARCHAR}, 
      #{scoutInfo,jdbcType=VARCHAR}, #{systemId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcUrgeStatus" >
    insert into omc_urge_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="urgeSerial != null" >
        urge_serial,
      </if>
      <if test="ownerType != null" >
        owner_type,
      </if>
      <if test="ownerId != null" >
        owner_id,
      </if>
      <if test="urgeType != null" >
        urge_type,
      </if>
      <if test="businessCode != null" >
        business_code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastStatus != null" >
        last_status,
      </if>
      <if test="statusTime != null" >
        status_time,
      </if>
      <if test="notifyTime != null" >
        notify_time,
      </if>
      <if test="notifyTimes != null" >
        notify_times,
      </if>
      <if test="notifyStatus != null" >
        notify_status,
      </if>
      <if test="notifyType != null" >
        notify_type,
      </if>
      <if test="scoutInfo != null" >
        scout_info,
      </if>
      <if test="systemId != null" >
        system_id,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="urgeSerial != null" >
        #{urgeSerial,jdbcType=BIGINT},
      </if>
      <if test="ownerType != null" >
        #{ownerType,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="urgeType != null" >
        #{urgeType,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="lastStatus != null" >
        #{lastStatus,jdbcType=VARCHAR},
      </if>
      <if test="statusTime != null" >
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyTime != null" >
        #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyTimes != null" >
        #{notifyTimes,jdbcType=INTEGER},
      </if>
      <if test="notifyStatus != null" >
        #{notifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="notifyType != null" >
        #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="scoutInfo != null" >
        #{scoutInfo,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null" >
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.baas.ccp.dao.mapper.bo.OmcUrgeStatusCriteria" resultType="java.lang.Integer" >
    select count(*) from omc_urge_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update omc_urge_status
    <set >
      <if test="record.urgeSerial != null" >
        urge_serial = #{record.urgeSerial,jdbcType=BIGINT},
      </if>
      <if test="record.ownerType != null" >
        owner_type = #{record.ownerType,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerId != null" >
        owner_id = #{record.ownerId,jdbcType=VARCHAR},
      </if>
      <if test="record.urgeType != null" >
        urge_type = #{record.urgeType,jdbcType=VARCHAR},
      </if>
      <if test="record.businessCode != null" >
        business_code = #{record.businessCode,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.lastStatus != null" >
        last_status = #{record.lastStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.statusTime != null" >
        status_time = #{record.statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.notifyTime != null" >
        notify_time = #{record.notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.notifyTimes != null" >
        notify_times = #{record.notifyTimes,jdbcType=INTEGER},
      </if>
      <if test="record.notifyStatus != null" >
        notify_status = #{record.notifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyType != null" >
        notify_type = #{record.notifyType,jdbcType=VARCHAR},
      </if>
      <if test="record.scoutInfo != null" >
        scout_info = #{record.scoutInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null" >
        system_id = #{record.systemId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update omc_urge_status
    set urge_serial = #{record.urgeSerial,jdbcType=BIGINT},
      owner_type = #{record.ownerType,jdbcType=VARCHAR},
      owner_id = #{record.ownerId,jdbcType=VARCHAR},
      urge_type = #{record.urgeType,jdbcType=VARCHAR},
      business_code = #{record.businessCode,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      last_status = #{record.lastStatus,jdbcType=VARCHAR},
      status_time = #{record.statusTime,jdbcType=TIMESTAMP},
      notify_time = #{record.notifyTime,jdbcType=TIMESTAMP},
      notify_times = #{record.notifyTimes,jdbcType=INTEGER},
      notify_status = #{record.notifyStatus,jdbcType=VARCHAR},
      notify_type = #{record.notifyType,jdbcType=VARCHAR},
      scout_info = #{record.scoutInfo,jdbcType=VARCHAR},
      system_id = #{record.systemId,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>