/**input样式**/
.int-mini{ width:102px; float:left; border:1px solid #e4e4e4; height:40px; padding-left:4px; font-size:14px;}
.int-mini:hover{ border:1px solid #0697ef}

.int-small{ width:140px; float:left; border:1px solid #e4e4e4; height:40px; padding-left:4px; font-size:14px;}
.int-small:hover{ border:1px solid #0697ef}

.int-medium{ width:210px; float:left; border:1px solid #e4e4e4; height:40px; padding-left:4px; font-size:14px;}
.int-medium:hover{ border:1px solid #0697ef}

.int-large{ width:260px; float:left; border:1px solid #e4e4e4; height:40px; padding-left:4px; font-size:14px;}
.int-large:hover{ border:1px solid #0697ef}

.int-xlarge { width:350px; float:left; border:1px solid #e4e4e4; height:40px; padding-left:4px; font-size:14px;}
.int-xlarge:hover{ border:1px solid #0697ef}

.int-xxlarge { width:500px; float:left; border:1px solid #e4e4e4; height:40px; padding-left:4px; font-size:14px;}
.int-xxlarge:hover{ border:1px solid #0697ef;}
.int-text:hover{ border:1px solid #0697ef;}

.int-xxxlarge { width:650px; float:left; border:1px solid #e4e4e4; height:40px; padding-left:4px; font-size:14px;}
.int-xxxlarge:hover{ border:1px solid #0697ef}

.textarea-xxlarge{width:500px; float:left; border:1px solid #e4e4e4; height:120px; padding-left:4px; font-size:14px;}
.textarea-xxlarge:hover{ border:1px solid #0697ef;}

/**下拉框**/
.select-mini{width:80px; float:left; border:1px solid #e4e4e4; height:40px;  font-size:14px;}
.select-mini:hover{border:1px solid #0697ef;}

.select-small{width:140px; float:left; border:1px solid #e4e4e4; height:40px;  font-size:14px;}
.select-small:hover{border:1px solid #0697ef;}

.select-medium{width:210px; float:left; border:1px solid #e4e4e4; height:40px;  font-size:14px;}
.select-medium:hover{border:1px solid #0697ef;}

.select-large{width:260px; float:left; border:1px solid #e4e4e4; height:40px;  font-size:14px;}
.select-large:hover{border:1px solid #0697ef;}

.select-xlarge{width:350px; float:left; border:1px solid #e4e4e4; height:40px;  font-size:14px;}
.select-xlarge:hover{border:1px solid #0697ef;}

.select-xxlarge{width:500px; float:left; border:1px solid #e4e4e4; height:40px;  font-size:14px;}
.select-xxlarge:hover{border:1px solid #0697ef;}

/**按钮**/
.bass-btn{  background:#1c9aec; color:#fff; font-size:16px;}
.bass-btn:hover{  background:#10a2fb}


/**邮箱绑定**/
.Mailbox-binding{ margin:0 auto; width:100%;}
.Mailbox-email-cnt ul li .regsiter-note{position:absolute; top:8px; left:100%; background:#def3f7; line-height:18px; color:#098cdc; margin-left:15px; padding:4px 10px; min-width:400px;}
.Mailbox-email-cnt ul li .regsiter-note i{ color:#def3f7; width:auto; margin-top:0; position:absolute; left:-8px; top:2px; font-size:24px; border:none;}
.Mailbox-email-cnt ul li .regsiter-note img{ float:left; margin-right:6px; margin-top:1px;}
.Mailbox-email-cnt ul{ width:600px; margin:0 auto; margin-top:80px;}
.Mailbox-email-cnt ul li{ float:left; margin-top:24px; position:relative;}
.Mailbox-email-cnt ul li p{ position:relative;}
.Mailbox-email-cnt ul .user{ width:100%; float:left;}
.Mailbox-email-cnt ul .user{ width:100%; float:left; }
.Mailbox-email-cnt ul .user  p{ float:left; font-size:14px; color:#666;}


.Mailbox-email-cnt ul .user .word{ width:120px; margin-right:20px; text-align:right; float:left;line-height:40px;}
.Mailbox-email-cnt ul .user a{ width:110px; float:left; height:40px; background:#1c9aec; margin-left:10px; color:#fff; text-align:center; line-height:40px;}

.Mailbox-email-cnt ul .reminder{ padding-left:99px; margin-top:35px;}
.Mailbox-email-cnt ul .reminder li{ float:left;}
.Mailbox-email-cnt ul .reminder .reminder-word{ width:230px; float:left; font-size:12px; color:#666; margin-left:20px;}
.Mailbox-email-cnt ul .reminder .reminder-word span{ width:100%; float:left; line-height:20px;}
.Mailbox-email-cnt ul .reminder i{ float:left; margin-right:10px; color:#1c9aec; font-size:20px;}
.Mailbox-email-cnt ul .reminder  p { font-size:16px; color:#666;}
.Mailbox-email-cnt ul .Mailbox-email-btn{ width:450px; float:left;}
.Mailbox-email-cnt ul .Mailbox-email-btn .next-btn{ width:210px; float:left; height:40px; border:1px solid #1c9aec; background:#fff; font-size:18px; color:#1c9aec;}
.Mailbox-email-cnt ul .Mailbox-email-btn .next-btn:hover{ border:2px solid #1c9aec; color:#fff;}
.Mailbox-email-cnt ul .Mailbox-email-btn .next-btn-hover{ background:#1c9aec; color:#fff; margin-left:10px;}
.Mailbox-email-cnt ul .Mailbox-email-btn .next-btn-hover:hover{ background:#10a2fb}


.Mailbox-email-cnt ul .user label{ font-size:12px;  color:#666; position:absolute; left:120px; top:40px; }


/**找回密码-身份验证**/
.Retrieve-password{ margin:0 auto; width:100%;}

.Retrieve-steps{ width:825px; margin:0  auto; margin-top:70px;}

.Retrieve-steps-round {
	font-size: 0px;
	overflow: hidden;
	line-height: 0px;
	margin: 18px 0;
	padding: 0 6px
}
.Retrieve-steps-round>div {
	display: inline-block;
	vertical-align: top;
	position: relative
}
.Retrieve-steps-round>div .wrap:before, .Retrieve-steps-round>div .wrap:after {
	display: table;
	content: "";
	line-height: 0
}
.Retrieve-steps-round>div .wrap:after {
	clear: both
}
.Retrieve-steps-round>div>label {
	display: inline-block;

	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 20px; height:20px;

	
	margin-top: 25px;
	color: #28a3ef;
	cursor: default;
	text-align: center;
	width: 50%;
	margin-left: -25%;
	position: relative;
	left: 25px
}
.Retrieve-steps-round>div:first-child>label {
	width: auto;
	max-width: 50%;
	margin-left:-5px;
	left: 0
}
.Retrieve-steps-round>div:last-child, .Retrieve-steps-round>div.last {
	width: 30px !important
}
.Retrieve-steps-round>div:last-child>label, .Retrieve-steps-round>div.last>label {
	position: absolute;
	width: auto;
	margin-left: 0;
	left: auto;
	right: 0
}
.Retrieve-steps-round>div .round {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius:50%;
	display: inline-block;
	vertical-align: middle;
	font-size: 26px;
	color: #FFF;
	line-height: 50px;
	text-align: center;
	float: left
}
.Retrieve-steps-round>div .bar {
	margin: 30px 4px 0px 40px;
	width: 300px;
	border-bottom:1px dashed #ccc;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.Retrieve-steps-round>.finished .round {
	border: 4px #28a3ef solid;
	background-color: #fff;
	color: #28a3ef
}
.Retrieve-steps-round>.finished .bar { border-bottom:1px dashed #28a3ef
}
.Retrieve-steps-round>.current .round {
	border: 4px #4cb9fc solid;
	background-color: #fff; color:#4cb9fc;
}
.Retrieve-steps-round>.current .bar {
	 border-bottom:1px dashedq #4cb9fc
}
.Retrieve-steps-round>.todo>label {
	color: #999
}
.Retrieve-steps-round>.todo .round {
	border: 4px #d3d3d3 solid;
	background-color: #FFF;
	color: #999
}
.Retrieve-steps-round>.todo .bar {
	border-bottom:1px dashed #999
}
.steps-round-auto {
	display: table;
	width: 100%
}
.steps-round-auto>div {
	display: table-cell
}
.steps-round-auto>div .bar {
	width: auto
}
/**步骤结束**/
.Retrieve-cnt ul li .regsiter-note{position:absolute; top:8px; left:100%; background:#def3f7; line-height:18px; color:#098cdc; margin-left:15px; padding:4px 10px; min-width:400px;}
.Retrieve-cnt ul li .regsiter-note i{ color:#def3f7; width:auto; margin-top:0; position:absolute; left:-8px; top:2px; font-size:24px; border:none;}
.Retrieve-cnt ul li .regsiter-note img{ float:left; margin-right:6px; margin-top:1px;}
/**表单验证**/
.Retrieve-cnt ul{ width:600px; margin:0 auto; margin-top:30px;}
.Retrieve-cnt ul li{ float:left; position:relative; margin-top:14px;}
.Retrieve-cnt ul li p{ position:relative;}
.Retrieve-cnt ul .user{ width:100%; float:left; }
.Retrieve-cnt ul .user{ width:100%; float:left; }
.Retrieve-cnt ul .user  p{ float:left; font-size:14px; color:#666; line-height:40px;}
.int-medium{ width:210px; float:left; border:1px solid #e4e4e4; height:40px; padding-left:4px; font-size:14px;}
.int-medium:hover{ border:1px solid #0697ef}


.Retrieve-cnt ul li .tong{ margin-left:16px;}

.Retrieve-cnt ul .user .word{ width:150px; text-align:right; float:left;line-height:40px; margin-right:20px;}
.Retrieve-cnt ul .user .huoqu a{ width:110px; float:left; height:40px; background:#1c9aec; margin-left:10px; color:#fff; text-align:center; line-height:40px;}
.Retrieve-cnt ul .user .huoqu a:hover{ color:#fff; background:#10a2fb;}

.Retrieve-cnt ul .user p img{ float:left; margin: 0 4px 0  4px;}
.Retrieve-cnt ul .user p a{ color:#1c9aec}
.Retrieve-cnt ul .user p a:hover{ color:#043a86;}

.Retrieve-cnt ul .user label{ font-size:12px;  color:#666; position:absolute; left:170px; top:40px; }

/**提交按钮**/
.Submit-btn{ width:210px; float:left; background:#1c9aec; height:40px; text-align:center; line-height:40px; color:#fff; font-size:18px; margin-left:170px;}
.Submit-btn:hover{ background:#10a2fb;}

/**设置新密码**/
.Set-password{width:210px; float:left; margin-left:170px; height:30px;display: inline-block; }
.Set-password .low{ width:70px; float:left; text-align:center; font-size:12px; color:#666;line-height:20px;}
.Set-password .low .f00{ width:100%; height:6px; overflow: hidden; background:#d7103c; float:left;}
.Set-password .in{ width:70px; float:left; text-align:center; font-size:12px; color:#666;line-height:20px;}
.Set-password .in .eb6100{ width:100%; height:6px; overflow: hidden; background:#eb6100; float:left;}
.Set-password .gao{ width:70px; float:left; text-align:center; font-size:12px; color:#666;line-height:20px;}
.Set-password .gao .green{ width:100%; height:6px; overflow: hidden; background:#22ac38; float:left;}

.password-success{ width:100%; margin:0  auto; margin-top:85px; text-align:center; font-size:20px; color:#666;}


/**基本信息**/
.Basic-information{ width:900px; margin: 0  auto; }
.information-wrap{ width:100%; margin:0 auto; display: inline-block;}
.information-left{ width:330px; float:left; margin-top:60px;} 
.information-left-account{ width:100px; float:left; text-align:center; margin-left:120px;}
.information-left-account ul li{ float:left; width:100%; }
.information-left-account ul li .account-img{width:100px; height:100px; float:left; border:1px solid #d6eefd; border-radius:50%; padding:5px;}
.information-left-account ul .word{ margin-top:18px; font-size:18px; color:#32323a;}



.information-cnt ul{ width:330px; float:left;margin-top:30px;}
.information-cnt ul li{ float:left; position:relative; margin-top:14px; }
.information-cnt ul .user{ width:100%; float:left; }
.information-cnt ul .user{ width:100%; float:left; }
.information-cnt ul .user  p{ float:left; font-size:14px; color:#666; line-height:40px;}
.int-medium{ width:210px; float:left; border:1px solid #e4e4e4; height:40px; padding-left:4px; font-size:14px;}
.int-medium:hover{ border:1px solid #0697ef}


.information-cnt ul li .tong{ margin-left:16px;}

.information-cnt ul .user .word{ width:100px; text-align:right; float:left;line-height:40px; margin-right:20px;}
.information-cnt ul .user .huoqu a{ width:110px; float:left; height:40px; background:#1c9aec; margin-left:10px; color:#fff; text-align:center; line-height:40px;}
.information-cnt ul .user p a{ color:#1c9aec}

.information-cnt ul .user i{margin:0 8px; font-size:16px;}

.information-right{ float:left; margin-left:240px;}

.btn_wrap{ width:210px; margin:0 auto; }
.information-btn{width:210px; margin:0 auto; background:#1c9aec; height:40px; text-align:center; line-height:40px; color:#fff; font-size:18px; }
.information-btn:hover{ background:#10a2fb}


/**资费管理**/
.management{ width:100%; padding:0 0 0 20px;  }
.management-cnt{ width:100%;float:left; margin-top:28px;}
/**查询区域**/
.nav-form{ width:100%; float:left; }
.nav-form ul{ width:100%;float:left; margin-bottom:0px;  }
.nav-form ul li{ float:left; line-height:40px; margin-right:20px;margin-bottom:20px; position:relative;}
.nav-form ul li p{ float:left; margin-bottom:0;}
.nav-form ul li .word{ width:140px; text-align:right; margin-right:20px; font-size:14px; color:#666;}
.nav-form ul li .check{ float:left; margin-right:10px; color:#666;}
.nav-form ul li .checkbox-small{ float:left; margin-top:13px; margin-right:5px;}
.nav-form ul li .f00{ color:#f00;}
.nav-form ul .btn-margin{ }
.nav-form-btn{ width:120px; height:40px}

.nav-form ul li .icon-calendar{ position:absolute; right:16px;top:10px; font-size:20px; color:#666666}
.nav-form ul li .icon-calendar:hover{ color:#0697ef;}
/**查询区域结束**/
.management-cnt—border{ width:100%; float:left; margin-top:; border-bottom:1px  dashed #c2c2c2;}
/**查询结果**/
.nav-tplist{ width:100%; float:left; margin-top:32px;}
.nav-tplist-title{ width:100%; float:left;}
.title-left{ float:left; font-size:16px; color:#002c63;}
.title-left i{ color:#0697ef; margin-right:10px;}
.title-right{ float:right;}
.title-right p{ float:left; margin-bottom:0;}
.title-right .plus a{ width:40px; height:40px; float:left; background:#10a2fb; text-align:center; line-height:40px; font-size:16px; color:#fff;}
.title-right .plus-word a{ width:120px; height:40px; float:left; background:#0697ef; text-align:center; line-height:40px; font-size:14px; color:#fff;}
.title-right .plus-word a:hover{ background:#10a2fb; }

.nav-tplist-table{ width:100%; float:left;margin-top:12px;}
.nav-tplist-table table{ width:100%}
.nav-tplist-table table tr{ height:60px;}
.nav-tplist-table table .tr-backgrond{ background:#e3f1f9; height:40px;}
.nav-tplist-table table .tr-backgrond:hover{ background:#e3f1f9; }
.nav-tplist-table table .tr-backgrond td{ font-size:14px; color:#002c63; border: none;}
.nav-tplist-table table tr td{ text-align:center; font-size:12px; color:#6785a5; border:1px solid #d7d7d7}
.nav-tplist-table table tr td a{ margin-right:10px; color:#666;}
.nav-tplist-table table tr td a:hover{ color:#45b0f2;}
.nav-tplist-table table tr td .force{ color:#f00;}
.nav-tplist-table table tr td .force-blue{ color:#00f;}
.nav-tplist-table table tr td .force i{ color:#}
.nav-tplist-table table tr td  i{ margin-right:4px; color:#45b0f2; font-size:14px;}
.nav-tplist-table table tr:hover{ background:#f2f6fa;}
.nav-tplist-table table  .height-small tr{ height:30px;}
.nav-tplist-table table  .height-small  .border-none{border: none}
.nav-tplist-table table  .height-small tr td{ border:none; border-bottom:1px solid #d7d7d7}
.nav-tplist-table table tr .right-border{ border-right: none}
.nav-tplist-table table tr .left-border{ border-left: none}

.nav-tplist-table table  .inner-table{ border: none}
.nav-tplist-table table  .inner-table tr{ height:30px;}

.nav-tplist-table table tr .pop-re{ position:relative;}

/**分页**/
.paging-large{ float:right;}
.paging-large ul{ display:inline-block;  margin-top:20px;}
.paging-large ul li{ display:inline; line-height:30px;}
.paging-large ul li a{ width:30px; height:30px; line-height:30px; border:1px solid #ccc; border-radius:5px; background:#eaeaea; float:left; text-align:center; padding:0 0px; text-decoration:none; margin-left:5px;color:#999;}
.paging-large ul li a:hover{ background:#0697ef; color:#fff;border:1px solid #06a7e1;}
.paging-large ul .active a{background:#0697ef; color:#fff;border:1px solid #06a7e1;}
.paging-large ul .prev-up a{ width:55px;}
.paging-large ul .next-down a{ width:55px;}
.paging-large ul li span{ float:left; margin-left:5px; }
.int-verysmall{ width:40px; height:30px; border:1px solid #ccc;}
.int-verysmall:hover{ border:1px solid #3eabff;}
.paging-large ul li span .but-determine{ width:40px; height:30px; background:#06a7e1; border:1px solid #06a7e1; color:#fff; margin-left:0px; cursor:pointer}
.paging-large ul li .btn-span{ margin-left:0px;}



/**弹出框**/
.table-pop{ width:600px; float:left; height:330px; border:1px solid #d7d7d7;-webkit-box-shadow:0 0 14px #ddd;  -moz-box-shadow:0 0 14px #ddd;  box-shadow:0px 0 14px #ddd; position:absolute; right:20px; top:10px; background:#fff; padding:10px 20px;}
.pop-close{ float:right; cursor:pointer;}
.pop-title{ font-size:16px; color:#002c63; float:left;}
.pop-cnt{ width:500px; margin:0 auto;}
.pop-cnt ul{ width:100%; float:left; margin-top:20px;}
.pop-cnt ul li{ width:100%; float:left; margin-top:22px;}
.pop-cnt ul li .name{ float:left; width:120px; text-align:right; padding-right:20px;}
.pop-cnt ul li p{ float:left; color:#555;}
.pop-cnt ul li span{ margin-right:20px;}
.pop-cnt ul li .pop-text-blue{ color:#0697ef;}
.pop-cnt ul li .pop-radio{ margin-right:6px;}
.pop-cnt ul li .pop-int-small{ height:30px;}
.pop-cnt ul li p a{ background:#9a9b9c; padding:0 10px; height:30px; float:left; margin-left:10px; line-height:30px; color:#555;}
.pop-cnt ul li p a:hover{ color:#555;}
.pop-cnt ul li .pop-status{ background:#1c9aec;color:#fff;}
.pop-cnt ul li .pop-status:hover{background:#10a2fb;}
.pop-cnt ul li .pop-btn{ width:120px; height:40px;}


/**新建产品－标准资费**/
.management-title{ color:#002c63; font-size:18px; padding-left:160px; margin-top:20px; width:100%; float:left; height:57px; padding-top:20px; overflow:hidden; line-height:37px;}
.step1{ background:url(../images/step1.png) no-repeat left bottom;}
.step2{ background:url(../images/step2.png) no-repeat left bottom;}
.step3{ background:url(../images/step3.png) no-repeat left bottom;}
.step4{ background:url(../images/step4.png) no-repeat left bottom;}
.mana-tab-l{float:left; background:url(../images/step1left.png) no-repeat right bottom;}
.mana-tab-r{ float:right;background:url(../images/step1right.png) no-repeat right bottom;}
.management-tab{ width:100%; float:left; min-width:1120px;}
.management-tab ul{width:100%; height:220px; border:2px solid #e4e5e6; cursor:pointer; padding:40px 0 0 35px; position:relative;}
.management-tab ul img{ position:absolute; right:-2px; bottom:-2px; display:none;}
.management-tab ul p{ font-size:24px; color:#333; margin-bottom:15px;}
.management-tab ul span{ font-size:14px; color:#333;}
.management-tab ul:hover{ border:2px solid #0697ef;}
.management-tab ul.current img{ display:block;}
.management-tab ul.current{ border:2px solid #0697ef;}
.management-tab ul.current p{ color:#039dfb;}
.management-tab-left{ width:50%; float:left; padding-right:10px;}
.management-tab-right{ width:50%; float:left; padding-left:10px;}
.management-tab-cnt{ width:100%; float:left; border:1px solid #d7d7d7; padding:0 50px 50px 50px;} 
.tab-cnt-title{ width:100%; float:left; color:#666; margin-top:40px;}
.tab-cnt-title span{ margin-left:20px; color:#333;}
.tab-cnt-input{ width:100%; float:left; margin-top:30px;}
.tab-cnt-input span{ float:left; margin-right:20px; line-height:40px; color:#666;}
.tab-cnt-input b{ color:#f00; margin-right:5px; font-weight:normal;}
.tab-cnt-table{ width:100%; margin-top:10px; float:left; min-height:100px;overflow:hidden; background:url(../images/stepbg.png) no-repeat left bottom #e7f4fb; position:relative; padding-left:30px;}
.tab-cnt-table p{ width:30px; height:64px; position:absolute; left:0; top:0; overflow:hidden;  color:#bdd9e8; font-size:42px; line-height:64px; background:url(../images/stepg.png) no-repeat; padding-left:14px; font-family: Arial;}
.tab-table-bg{ width:100%;float:left;  height:100%; background:#faf9f9;padding:0 65px 20px 20px;}
.table-cnt table{ width:100%; float:left; margin-top:20px;}
.table-cnt{ position:relative; width:100%; float:left;}
.table-cnt img{ position:absolute; right:-50px; top:73px; cursor:pointer;}
.table-cnt thead td{ background:#e3f1f9; height:40px; border:1px solid #e3f1f9; text-align:center; color:#002c63;}
.table-cnt tbody td{ border:1px solid #ddd; height:56px; border-top:none; text-align:center; background:#fff; padding:0 10px;}
.wh100{ width:100%; height:36px; border:1px solid #ddd; color:#999;}
.wh50{ width:50%; height:36px; border:1px solid #ddd; color:#999;}
.wh40{ width:40%; height:36px; border:1px solid #ddd; color:#999;}
.tab-table-bg tbody span{ margin:0 6px; font-size:24px; color:#999;}
.min130{ min-width:130px;}
.min160{ min-width:160px;}
.min220{ min-width:220px;}
.tab-cnt-wz{ width:30px; float:left; overflow:hidden;}
.UnitPrice{ width:100%; float:left; margin-top:20px; position:relative;}
.UnitPrice span{ float:left; margin-right:15px; color:#666; line-height:40px;}
.UnitPrice .UnitPricey{ position:absolute; left:220px; top:0px;}
.UnitPrice input{ padding-right:40px;}
.table-bg-title{ width:100%; float:left; margin-top:10px; }
.table-bg-title ul li.left{ padding-top:10px;}
.table-bg-title ul li.right{ position:absolute; right:15px; top:15px;}
.table-bg-title ul li.right img{ cursor:pointer;}
.Increase{ width:100%; float:left; margin-top:20px; }
.Increase a{ width:100%; float:left; height:62px; background:#fafdff; border:1px dashed #79c6f4; color:#039dfb; line-height:60px; text-align:center;}
.Increase a img{ margin-right:15px;}
.tab-form{ width:100%; float:left; margin-top:20px;}
.tab-form ul li{ width:100%; float:left; margin-top:10px; position:relative;}
.tab-form ul li .tab-form-name{ width:150px; text-align:right; padding-right:15px; float:left; line-height:40px; color:#666;}
.tab-form ul li span.UnitPricey{ color:#666; position:absolute; left:330px; top:0px;}
.tab-form ul li span.man{ color:#039dfb; position:absolute; left:160px; top:0;}
.tab-form ul li i{ color:#f00; margin-right:5px; font-style:normal;}
.tab-form ul li span.jian{ float:left; margin:0 10px;}
.tab-form ul li .icon-calendar{ font-size:20px; color:#23a3f1; position:absolute; left:330px; top:10px;}
.tab-form ul li .next-btn{width:120px; float:left; height:40px; border:1px solid #1c9aec; background:#fff; font-size:18px; color:#1c9aec;}
.tab-form ul li .next-btn:hover{ background:#1c9aec; color:#fff;}
.tab-form ul li .next-btn-hover{ background:#1c9aec; color:#fff; margin-left:10px;}
.tab-form ul li .next-btn-hover:hover{ background:#10a2fb}
.tab-form ul li .mana{ padding-left:30px;}
.tab-form ul li .red{ color:#f00; padding-left:40px;}
.tab-form ul li .cnt-checkbox span{ float:left; margin-right:30px; padding-top:10px;}
.tab-form ul li .cnt-checkbox span input{ margin-right:5px;}
.tab-form ul li p{ line-height:40px;color:#666; float:left;}
.tab-form ul li p input{ margin-right:8px;}


.Discount-ttf{ width:50%; padding-right:10px; float:left;}
.Discount-ttg{ width:50%; padding-left:10px; float:left;}
.Discount-tta{ width:33.33333%; float:left; padding-right:10px;}
.Discount-ttb{ width:33.33333%; float:left; padding:0 10px;}
.Discount-ttc{ width:33.33333%; float:left; padding-left:10px;}
.Discount ul{width:100%; margin-bottom:20px; height:220px; border:2px solid #e4e5e6; cursor:pointer; padding:40px 0 0 35px; position:relative;}
.Discount ul img{ position:absolute; right:-2px; bottom:-2px; display:none;}
.Discount ul p{ font-size:24px; color:#333; margin-bottom:15px;}
.Discount ul span{ font-size:14px; color:#333;}
.Discount ul:hover{ border:2px solid #0697ef;}
.Discount ul.current img{ display:block;}
.Discount ul.current{ border:2px solid #0697ef;}
.Discount ul.current p{ color:#039dfb;}
.Discount ul.Discounta{ background:url(../images/stepb1.png) no-repeat right bottom #f0f9fe;}
.Discount ul.Discountb{ background:url(../images/stepb2.png) no-repeat right bottom #f0f2fe;}
.Discount ul.Discountc{ background:url(../images/stepb3.png) no-repeat right bottom #fef8f0;}
.Discount ul.Discountd{ background:url(../images/stepb4.png) no-repeat right bottom #fef0f4;}
.Discount ul.Discounte{ background:url(../images/stepb5.png) no-repeat right bottom #f0fefd;}
.configure{ width:100%; float:left; border:1px solid #d7d7d7; padding:0 50px 30px;}
.int-text{ width:600px; height:120px; border:1px solid #d7d7d7; padding:5px;}
.configure-table{ width:100%; float:left; border-top:1px dashed #d7d7d7; padding-top:30px; margin-top:30px;}
.configure-table .checkbox{ float:left; margin-right:6px; width:20px; height:14px;}
.configure-table td{ border:1px solid #eaeaea; padding:0 15px; height:60px; color:#6785a5;}
.configure-table thead td{ background:#e3f1f9; height:40px; border:1px solid #e3f1f9; color:#002c63;}
.configure-cnts{ width:70%; float:left; margin-top:20px;}
.configure-cnts p{ width:100%; float:left; color:#002c63; font-size:16px;}
.configure-cnts td{ background:#edf7fc; height:60px; padding-left:20px; color:#666;}
.configure-cnts table{ margin-top:15px;}
.configure-cnts td img{ cursor:pointer;}
.configure-tab{ width:100%; float:left; border-left:1px solid #239ff1;height:45px; margin-top:30px;}
.configure-tab p{ width:25%; float:left; text-align:center; cursor:pointer; border:1px solid #239ff1; border-left:none; height:45px; margin:0; line-height:43px; color:#666; font-size:16px;}
.configure-tab p.current{ background:#239ff1; color:#fff;}
.configure-btn{ width:100%; float:left; margin-top:30px; text-align:center;}
.configure-btn .next-btn{    width: 120px;height: 40px; border: 1px solid #1c9aec; background: #fff;font-size: 18px;color: #1c9aec; margin:0 10px;} 
.configure-btn .next-btn:hover{  background:#1c9aec; color:#fff;}
.configure-btn .next-btn-hover{background:#1c9aec; color:#fff; }
.configure-btn .next-btn-hover:hover{background:#10a2fb;}


.standard{ width:100%; float:left; padding:0 65px 0 150px; margin-top:20px;}
.standard-in{ width:100%; float:left; margin-top:20px; position:relative;} 
.standard-in .table-cnt table{ margin-bottom:10px; margin-top:0;}
.standard-in .table-cnt img{ top:55px;}
.standard-in span.yuan{margin-left:8px; line-height:40px;color:#666; margin-top:0; margin-right:0;}
.standard-in span{ margin-top:8px; float:left; margin-right:10px;color:#666;}
.standard-in p .f00{ color:#f00; }
.checkbox-small{ width:16px; height:16px;float:left;}
.next-btn{ width: 120px;height: 40px;  border: 1px solid #1c9aec; background: #fff;font-size: 18px;color: #1c9aec; margin:0 10px 0 0;} 
.next-btn:hover{ background:#1c9aec; color:#fff; }
.next-btn-hover{background:#1c9aec; color:#fff;  }
.next-btn-hover:hover{background:#10a2fb; }
.standard-in p{ width:150px; float:left; position:absolute; left:-150px; text-align:right; padding-right:15px; top:0px; line-height:40px; color:#666;}

.next-btn-margin{ margin-left:150px;}
.standard-in-btn{ margin-top:0px;}
.peiz-title{ margin-top:30px;}

.configure-btn-ctn-left{ float:left; margin-top:20px;}
.configure-btn-ctn-left ul{ float:left;}
.configure-btn-ctn-left ul li{ float:left;}
.peiz-btn{ width:120px; height:40px; margin-right:20px;}
.peiz-btn-cancel{width:120px; height:40px; margin-right:20px; background:#fff; border:1px solid #0697ef; color:#0697ef}
.peiz-btn-cancel:hover{ background:#0697ef; color:#fff;}
.pad130{ padding-left:160px;}

.configure-margin{ float:left; margin-top:10px;}
/**创建标准资费后台管理**/
.nav-form ul li .cj-border{ width:210px; float:left;border:1px solid #e4e4e4; height:360px; overflow:auto;}
.nav-form ul li .cj-border .list-cj{ float:left; width:100%; }
.nav-form ul li .cj-border .list-cj a{padding-left:10px;}
.nav-form ul li .cj-border .list-cj:hover{ background:#f2f6fa; }
.nav-form ul li .cj-border .list-cj .feiy-cj{ background:#f2f6fa; float:left; width:100%;}
.nav-form ul li .cj-border .list-cj a{ color:#888; font-size:12px;}
.nav-form ul li .arrow-cj{ float:left; margin:0 20px; padding-top:120px; width:100px;}
.nav-form ul li .arrow-cj a{ width:100px; height:40px; float:left; border:1px solid #8ecaef; margin-top:10px; text-align:center; color:#0697ef;} 
.nav-form ul li .arrow-cj a i{ margin-left:10px; color:#}
.nav-form ul li .arrow-cj a:hover{ background:#0697ef; color:#fff; border:1px solid #0697ef}
/**重置缴费查询**/
.int-checkbox1{ width:14px; height:14px;}
.table-height table tr{ height:40px; }
/*表单验证新增*/
.management-cnt ul li .regsiter-note{position:absolute; top:8px; left:100%; background:#def3f7; line-height:18px; color:#098cdc; margin-left:15px; padding:4px 10px; min-width:400px;}
.management-cnt ul li .regsiter-note i{ color:#def3f7; width:auto; margin-top:0; position:absolute; left:-8px; top:2px; font-size:24px; border:none;}
.management-cnt ul li .regsiter-note img{ float:left; margin-right:6px; margin-top:1px;}

/*结算单上传*/
.nav-form ul .btn-margin a{ height:40px; padding:0 20px; float:left; color:#fff; background:#1c9aec; position:relative; overflow:hidden;}
.nav-form ul .btn-margin a:hover{background:#10a2fb;}
.nav-form ul .btn-margin .flie{position:absolute; right:0; top:0; font-size:100px; opacity:0; filter:alpha(opacity=0);}
.nav-tplist-table table tr td a.thck{ margin-right:0;}
.upload-pop{ width:320px; padding:20px 10px; float:left; border:1px solid #d7d7d7; background:#fff; position:fixed; left:50%; margin-left:-160px; top:50%; margin-top:-100px;}
.upload-pop ul{ width:100%; float:left; margin-top:10px;}
.upload-pop ul li{ float:left; width:50%; text-align:right;}
.upload-pop ul li.up-left{ padding-right:10px;}
.upload-pop ul li.up-right{ text-align:left; padding-left:10px; color:#0697ef;}
.upload-pop ul li span{ color:#e00;}
.up-btn{ width:100%; float:left; text-align:center; height:40px; margin-top:30px;}
.up-btn a{ padding:10px 40px; font-size:16px; background:#0697ef; color:#fff; margin:0 5px;}
.up-btn a.up-no{  background:#f4fbff; border:1px solid #91d4fd; color:#0697ef;}
.upload-pop p{ width:100%; float:left; text-align:center; padding:0 20px; color:#e00; margin-top:10px; margin-bottom:0;}

/**登陆着地**/
.login-index{ width:100%; float:left;}
.index-title{ width:100%; float:left; margin-top:30px;} 
.index-title p{ width:100%; float:left; text-align:center; margin-bottom:5px; color:#71767c; font-size:32px;}
.index-title span{ font-size:25px; color:#054aaa; width:100%; float:left; text-align:center; }
.index-cnt{ width:1090px; margin:0 auto;}
.index-cnt-bg{ background:url(../images/index-bg.png) no-repeat top center; width:100%; float:left; height:531px; position:relative; margin-top:40px;}
.index-cnt-bg p{ position:absolute; width:130px; float:left; text-align:center; font-size:16px; color:#666;}
.index-cnt-bg p span{ width:100%; float:left; text-align:center; margin-bottom:10px; margin-top:10px;}
.index-cnt-bg .inyi1{ left:377px; top:8px;}
.index-cnt-bg .inyi2{ left:0px; top:310px;}
.index-cnt-bg .inyi3{ left:190px; top:200px;}
.index-cnt-bg .inyi4{ left:380px; top:200px;}
.index-cnt-bg .inyi5{ left:570px; top:200px;}
.index-cnt-bg .inyi6{ left:760px; top:200px;}
.index-cnt-bg .inyi7{ left:950px; top:310px;}
.index-cnt-bg .inyi8{ left:190px; top:410px;}
.index-cnt-bg p a{ color:#666;}

/* 地址和端口查询 */
.zl-sm{width: 100%; float: left; padding-left: 80px; margin-top: 40px;}
.zl-sm p{ background:url(../images/sm-zl.png) no-repeat; width: 100%; padding-left: 30px; color: #666;}
.zl-sm span{ width: 100%; float: left; padding-left: 30px; margin-bottom: 10px; color: #666;}